body {
	width:350px;
	height:200px; 
	background-color:#FFFFFF;
	margin:0;
} 

#bodyDiv {
	border: 1px solid brown;
	margin:0;
	padding:5px;
}

#artistName {
	font-weight:bold;
	font-size:18;
	text-align:center;
}

#sitesTable td { 
	padding:10px;
	border:0px;
}

#linksLabel {
	padding:10px;
}

#linksTable {
	width:100%;
	font: 10pt tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;	
}

.linksNumber {
	padding-right:10px;
	padding-left:10px;
}

.linksButton {
	text-align:right;
}

#allPagesCheckBox {
	margin-right:10px;
	margin-left:10px;
}

#statusBar {
	font-size:11px;
	padding-right:10px;
	padding-left:10px;
}

#userTextSpan {
	font-size:13px;
}

#aboutLink {
	float:right;
}

#aboutPopup{
    color:#4C4C4C;
    background:#FFFFFF;
    -webkit-border-radius:3px;
    border:1px solid #D4D4D4;
    clear:both;
    padding:3px;
    margin:20px 2px 2px;
    display:none;
    -webkit-background-clip: padding-box;
}

#aboutSection{
  position: relative;
}

#extName {
	font-size:15px;
	font-weight: bold;
}

#author {
	font-size:12px;
	font-weight: bold;
}

a {
	color: #681313;
	font-family: tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	font-size:11px;
	font-weight: bold;
}

span, div {
	font: 10pt tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}