body {
	width:350px;
	height:200px;
	background-color:#FFFFFF;
	margin:0;
}

#bodyDiv {
	border: 1px solid brown;
	margin:0;
	padding:5px;
}

#artistName {
	font-weight:bold;
	font-size:18;
	text-align:center;
}

#sitesTable td { 
	padding:10px;
	border:0px;
}

#linksLabel {
	padding:10px;
}

#linksTable {
	width:100%;
	font: 10pt tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;	
}

.linksNumber {
	padding-right:10px;
	padding-left:10px;
}

.linksButton {
	text-align:right;
}

#statusBar {
	font-size:11px;
}

#userTextSpan {
	font-size:13px;
}

#aboutLink {
	float:right;
}

a {
	color: #681313;
	font-family: tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	font-size:11px;
	font-weight: bold;
}

span, div {
	font: 10pt tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}